body {
    margin: 0px;
    overflow: hidden;
}

#loading-screen {
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    background: radial-gradient(rgb(255, 86, 0), rgb(255, 103, 28));
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
}

#loading-screen h1 {
    font-size: 200px;
    color: rgb(230, 255, 239);
    filter: drop-shadow(5px 5px 2px rgb(107, 37, 2));
}

#loading-screen p{
    color: rgb(250, 250, 250);
}

.visible {
    opacity: 100%;
    transition: 2s;
}

.invisible {
    opacity: 0%;
    transition: 2s;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

p {
    margin: 0px;
}

#reddit-link, #new-wallpaper {
    filter: brightness(70%);
    transition: all 0.2s ease-out;
}

#reddit-link:hover, #new-wallpaper:hover {
    filter: brightness(100%);
}

#reddit-link #popup{
    opacity: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    position: absolute;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left: 77.5px;
    transform: translate(-50%, 0%);
}

#reddit-link:hover #popup{
    opacity: 100%;
    transition: all .2s ease-out;
}

#popup {
    pointer-events: none;
}

#wallpaper-wrapper {
    margin: 0 auto;
}

#wallpaper {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center;
}

#next-wallpaper {
    z-index: 2;
    animation: fadeIn 2s;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(30px) brightness(85%);
    background-position: center;
    background-repeat: repeat;
    background-size: fill;
    transform: scale(1.1);
}

.button-container {
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
	position: fixed;
	width: 30%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	
    text-align: center;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);

    transition: all 0.2s ease-out;

    opacity: 0%;
}

.button-container:hover {
    opacity: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
